CSS RESET*/
/*A way for us to remove any pre-defined margins and paddings set by the browser
	This is to have less hassle in managing space that will be used for the layout of the webpage
	*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open sans", sans-serif;
}
/*NAV SECTION*/
nav{
	/*padding is the space between the content of the element and it's border*/
	/*Shorthand padding for padding-top,button,left and right
		padding code itself applies for all sides
	*/
	padding: .8rem;
	/*Maring is the space between the elements and outside of their borders*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	/*if you want to increase / decrease the space of the content of the border, manage the padding
		but if you want to manage the spacing in between the elements, increase or decrease the margin of the elements.
	*/


	/*We can also select multiple combination selectors with the use of comma*/
}
nav .nav, nav .nav-logo{
	/*this marging creates space around the element but outside it's border*/
	margin: .5rem;
	display: inline;
	/*li are naturally block elements, but with the use of display: inline; we were able to transform the li elements to become inline so that they will be displayed beside each other*/
}
/*/*INFO SECTION*/

/*When we have different measurement for each side, the measurement for each side can be used
	padding-left:
	padding-right:
	padding-top:
	padding-bottom:
*/

#intro{
	/* % value is used for the padding/margin to use the relative measurements of the screen of the user*/
	padding: 2rem 10% 3rem;
	text-align: center;
	/*Shorthand padding if right and left measurement is the same*/
	/* padding: 2rem 10% 3rem; */
	/*if you need to measure 4 values for the shorthand the direction will be starting from the top
		[top, right, bottom, left]
	*/
}

.header{
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - is used to change the thickness of the text of the element*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*This is to create a space to make the button bigger and to make space for the content / element and make more noticeable*/
	padding: 1rem;
}

/*SUCCEED INFO*/

#succeed-info{
	/*using shorthand for the same measurement as the #intro*/
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	/*to create a space between the header and the card*/
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	/*creates space between the h3 and the p element in each card*/
	margin-bottom: 1rem;
}
#succeed-info .card{
	/*allows the cards to appear next to each other*/
	/*inline - consuming only the content width of the element
	while inline-block consuming the full width of the webpage regardless of the content width
	
	works as inline for it's siblings, but works as block element for the elements outside it's parent element
	*/
	display: inline-block;
	/*align the elements at the top of their container*/
	vertical-align: top;
	/*Sets the minimum height in case the content does not fit the cards*/
	min-height: 175px;
	/*each card will only use 30% of the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}

/*pre-footer section*/

#pre-footer{
	background-color: navy;
	padding: .5rem 0.5% .5rem;
	color: white;
}

#pre-footer h3{
	text-align: left;
	font-size: 22.5px;
	margin-bottom: .5rem;
	margin-top: .75rem;
}
#pre-footer p{
	text-align: left;
	font-size: 15px;
	margin-bottom: .5rem;
	margin-top: .5rem;
}

#pre-footer .card2{
	display: inline-block;
	vertical-align: top;
	width: 10%;
	margin-left: 6rem;
	margin-right: 6rem;
}

/*Footer section*/

footer{
	padding: .7rem;
}
footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/*we can use shorthand on this = : margin: 0.5rem;*/
}

